--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.8.0+cu128
torchvision==0.23.0+cu128
triton==3.4.0
diffusers==0.39.0
transformers==4.57.1
accelerate==1.10.1
huggingface-hub==0.36.0
safetensors==0.8.0
Pillow==11.1.0
sentencepiece==0.2.0
fastapi==0.116.1
uvicorn==0.35.0
